/*Main Css */

/* Main Banner CSS */
::selection {
    background: #FD5605;
    color: #fff;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: #FD5605;
}


/* Tabbing CSS */

[class^="box-"] {
    display: none;
}

[class^="box-"].showfirst {
    display: block;
}


/* Accordion CSS */

.myaccordion li .faq-opt {
    display: none;
}

.myaccordion li.active .faq-opt {
    display: block;
}

.myaccordion li.active .faq-ang h4:before {
    content: "\f077";
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    display: block;
    font-weight: normal;
}

*:hover,
*:focus,
* {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
}
a{
    font-family: "Poppins", sans-serif; 
}
a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    display: inline-block;
    cursor: pointer;
}

/* a:hover {
    color: #f22f3b !important;
} */

span {
    display: inline-block;
}

textarea,
select,
input[type],
textarea,
select,
button {
    background: transparent;
    border: none;
    border-radius: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}


/* Padding Classes */

.pad-sec {}

.pad-zero {
    padding: 0px;
}

.pad-l-zero {
    padding-left: 0px;
}

.pad-r-zero {
    padding-right: 0px;
}

.ovr-hiddn {
    overflow: hidden;
}

.overlay:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
}


/* Heading Classes */

.hding-1 h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.hding-2 h2 {}

.hding-3 h3 {}

.hding-4 h4 {}

.hding-5 h5 {}

.hding-6 h6 {}

/* p{
    font-size: 16px;
    color: #000 !important;
} */
.para {}

.highlighted {
    color: #FD5605;
}


/* Custom Slick Css */
.slick-track{
    background-color: #fff;
}
.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-dots {
    padding: 50px 0 0;
    text-align: center;
}

.slick-dots li {
    margin: 0 20px 0 0px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0px;
    border: none;
}

.slick-dots li button:before,
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    font-size: 20px;
}

.slick-dots li button {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    padding: 0px;
    background: #d6d6d6;
    border: none;
    cursor: pointer;
    font-size: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    box-sizing: border-box;
}

.slick-dots li.slick-active button {
    background: #FD5605;
    width: 11px;
    height: 11px;
}

/* slick slider */


/* slider */





















/*header css*/

header {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    padding: 5px 0;
}

.main-header {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
    width: 220px;
}


/* Hamburger Menu */

.menu-Bar {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0px;
    margin: auto;
    z-index: 22;
    display: none;
}

.menu-Bar span {
    display: block;
    height: 4px;
    width: 100%;
    background: #0f4c97;
    position: absolute;
    transition: 0.6s all;
    border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
    top: 0;
}

.menu-Bar span:nth-child(2) {
    top: 8px;
    transform-origin: left;
}

.menu-Bar span:nth-child(3) {
    top: 16px;
}

.menu-Bar.open span {
    background: #b70404;
}

.menu-Bar.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
    transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
    transform-origin: right-center;
}


/* Menu Css */

.menu {
    font-family: "Poppins", sans-serif;
    font-size: 0px;
    display: inline-block;
    padding-right: 40px;
}

.menu li {
    display: inline-block;
    /* vertical-align: middle; */
    padding-left: 35px;
    
}

.menu li a {
    display: block;
    /* font-family: 'jost'; */
    font-size: 16px;
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.menu li:hover a,
.menu li.active a {
    color: #FD5605;
}


/* Menu Dropdown CSS */

.dropdown-nav {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.dropdown-nav:hover {
    overflow: visible;
}

ul.dropdown {
    position: absolute;
    width: 100%;
    left: -0px;
    margin: auto;
    background: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 10px 3px #00000014;
    opacity: 0;
    animation: btotreverse 0.5s forwards;
}

ul.dropdown li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

ul.dropdown li a {
    padding: 0;
    font-size: 14px;
    color: #000 !important;
    display: block;
    width: 100%;
    margin: 0px 0 15px;
    text-align: center;
    font-weight: 600;
    background: transparent !important;
}

ul.dropdown li.last a {
    margin-bottom: 0px;
}

ul.dropdown li a:hover {
    color: #000 !important;
}

.dropdown-nav:hover ul.dropdown {
    animation: btot 0.5s forwards;
    z-index: 9;
}

/* -----------------------Page Headings Css------------------- */

.testimonial-heading{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}
.title-heading{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}

.title-heading-white{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.title-p{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.title-p-white{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}







/* -----------------------Page Headings Css------------------- */

/* -----------------------Header Css------------------- */

.header-color{
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    width: 1110px !important;
    text-align: center;
}

.header-btn{
    background-color: #FD5605;
    border: 1px solid #FD5605;
    font-family: "Poppins", sans-serif;
    padding: 15px 35px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    border-radius: 26px 0px 26px 26px;
}
.header-btn:hover{
    background-color: transparent;
    color: #FD5605;
}



/* -----------------------Header Css------------------- */

/* -----------------------Banner Css------------------- */
.logos{
    display: flex;
    flex-direction: column;
    max-width: 40px;
    padding-bottom: 100px;
}
.logos img{
    padding-bottom: 10px;
}
.banner-h1{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}
.main-banner{
    background-image: url(/assets/images/Main-banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -153px;
    padding-top: 190px;
    text-align: center;
    line-height: 0px;
}
.banner-hand{
    max-width: 600px;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
.right-img-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.creative-img{
    width: 200px;
    margin-bottom: -240px;
}

.design-img{
    margin-bottom: -70px;
    margin-left: -170px;
}
.shapes1{
    position: absolute;
    left: 18%;
    top: 40%;
}

.shapes2{
    position: absolute;
    left: 10%;
    bottom: -12%;
}

.shapes3{
    position: absolute;
    bottom: 0%;
    right: 16%;
}
.banner-btn{
    background-color: #FD5605;
    border: 2px solid #FD5605;
    font-family: "Poppins", sans-serif;
    padding: 30px 45px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    border-radius: 26px 0px 26px 26px;
    position: absolute;
    left: 45%;
    bottom: 3%;
    margin-left: -21px;
}

.banner-btn:hover{
    background-color: transparent;
    color: #FD5605
}

/* -----------------------Banner Css------------------- */

/* -----------------------Service Css------------------- */
.service-sec{
    background-color: #F6F9F8;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sercvice-heading{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.sevice-body{
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 40px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 40px !important;
    margin: 10px;
    cursor: pointer;
    transition: 0.6s ease;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.sevice-body:hover{
    border: 1px solid #FC5C06;
    background-color: #FC5C06;
    
}
.sevice-body h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0;
}
.sevice-body:hover h2{
    color: #fff
}
.sevice-body p{
    margin: 0;

}
.sevice-body:hover p{
    color: #fff
}

.sevice-body img{
    width: 110px;
}
.sevice-body p{
    color: #000;
}
/* -----------------------Service Css------------------- */


/* ----------------servicesTabs------------ */




.bg-servicesTabs{
    background-image: url(/assets/images/pricing-back.png);
    padding-top: 150px;
    padding-bottom: 250px;
    background-repeat: no-repeat;
    background-position: top;
}
.projects-tab-sec {
    padding: 75px 0;
}

.tabnav-projects {
    font-size: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.tabnav-projects>li {
    display: inline-block;
    padding: 0px 6px;
}
.tabnav-projects>li>a:hover{
    background-color: #FD5605;
    color: #fff;
}

.tabnav-projects a {
    color: #FD5605;
    border: 1px solid #FD5605;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 35px;
    text-decoration: none;
}

.tabnav-projects .active a {
    background-color: #FD5605;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    box-shadow:  1px 1px 15px 0px #fd5605;
    background: #FD5605;
    text-decoration: none;
}


.project-items {
    font-size: 0;
    margin: 0px 40px;
    display: flex;
}

.project-items>li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.project-item-box {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.project-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item-body {
    z-index: 2;
    min-height: 100px;
    padding: 30px 20px;
    background-color: #D4D4D4;
    text-align: center;
    border-radius: 40px;
    transition: 0.8s ease;
    color: #000;
}

.project-item-body:hover{
    background-image: url(/assets/images/pricing-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.project-item-body h5 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 0px;
}
.project-item-body:hover h5 {
    color: #fff;
}

.project-item-body h4 {
    color: #000;
    font-size: 90px;
    font-weight: bold;
    padding-bottom: 0px;
}
.project-item-body:hover h4 {
    color: #fff;
}

.project-item-body p {
    color: #000;
    font-size: 30px;
}

.project-item-body:hover p {
    color: #fff;
}
ul.tabs-ul-01{
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 10px;
}

ul.tabs-ul-01 li {
    font-size: 16px;
    padding-bottom: 10px;
    list-style: none;
    padding-left: 22px;
    text-align: left;
}
ul.tabs-ul-01 i {
    color: #FD5605;
    padding-right: 8px;
}
ul.tabs-ul-02 li {
    font-size: 16px;
    padding-bottom: 5px;
}
ul.tabs-ul-02 i {
    color: #e2d584;
    padding-right: 8px;
}
ul.tabs-ul-03 li {
    font-size: 16px;
    padding-bottom: 5px;
}
ul.tabs-ul-03 i {
    color: #fcb1bc;
    padding-right: 8px;
}
ul.tabs-ul-04 li {
    font-size: 16px;
    padding-bottom: 5px;
}
ul.tabs-ul-04 i {
    color: #b9b1ff;
    padding-right: 8px;
}
/* ----------------servicesTabs------------ */

/* ----------------Work section------------ */
.premium-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 50px;
}
.premium-img img{
    width: 210px;
    margin-top: -280px;
    margin-bottom: -300px;
}
.work-backgroud{
    background-image: url(/assets/images/work-background.png);
    padding-bottom: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.work-content{
    text-align: center;
    cursor: pointer;
}

.work-content h4, p{
    color: #fff;
}
.work-content p{
    padding: 0px 30px;
}
.line-css{
    width: 1020px;
    padding: 50px 0px;
}
/* ----------------Work section------------ */


.gallery {
    --s: 150px;
     /* control the size */
    /* --g: 10px; */
      /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
  }
  
  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

/* ----------------Portfolio section------------ */
.portfolio-tabs{
    padding-top: 100px;
}
.box-port1{
    padding: 0px !important;
}


.portfolio-item-body{
    z-index: 2;
    min-height: 100px;
    /* padding: 30px 20px; */
    background-color: #D4D4D4;
    text-align: center;
    border-radius: 40px;
    transition: 0.8s ease;
    display: flex;
}
.portfolio-items-body{
    display: flex;
}

.portfolio-items>li{

    display: inline-block;
    vertical-align: top;
    width: 100%;
    /* padding: 0 15px;
    margin-bottom: 30px; */
}

.portfolio-items{
    font-size: 0;
    margin: 0px 0px;
    /* display: flex; */
    padding: 0px !important;
}


.portfolio-img{
    width: 665px;
    height: 581px;
    /* transition: 0.6s; */
}
.portfolio-img:hover{
    /* background-size: cover;
    box-shadow: 0px 10px 15px -3px #000;
    background-image: linear-gradient(#F26101, #08AEEA), rgba(0,0,0,0.2); */
}
.portfolio-img15{
    width: 665px;
    height: 291px;
}

  
/* ----------------Portfolio section------------ */


/* ----------------Testimonial section------------ */

.bg-testimonials{
    background-image: url(/assets/images/testimonial-background.png);
    padding-top: 100px;
    padding-bottom: 100px;
}

.carousel-inner {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    border-radius: 50px;
}

.tesimonial-inner{
    padding: 50px 0px;
}

.tesimonial-content h4{
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
}

.testimonial-content{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0px;
    padding-bottom: 30px;
}


.testimonial-designation{
    font-size: 15px;
    font-weight: 300;
    color: #000;
}
.quote-img-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.quote-img-right{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* ----------------Testimonial section------------ */





/* -----------------------Call section Css------------------- */
.call-banner{
    background-image: url(/assets/images/call-background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0px;
}
.call-btn-sec {
    display: flex;
    align-items: center;
}

.call-btn-sec img{
    width: 50px;
}
.call-text-sec h3{
    font-size: 50px;
    font-weight: bold;
}

.call-text-sec p{
    font-size: 16px;
    font-weight: 400;
}

.call-btn-sec a{
    text-decoration: none;
    align-items: center;
}

.call-text-color{
    color: #000;
}

.call-btn-sec a span{
    font-size: 20px;
    font-weight: bold;
}
.call-btn-sec a:hover{
    color: #FD5605;
}
.call-btn-sec a span:hover{
    color: #FD5605;
}
.call-btn{
    background-color: #FD5605;
    font-family: "Poppins", sans-serif;
    padding: 15px 35px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    border-radius: 26px 0px 26px 26px;
    margin-right: 20px;
}
.call-btn:hover{
    background-color: transparent;
    color: #FD5605;
}



/* -----------------------Call section Css------------------- */


/* -----------------------About us section Css------------------- */

.inner-banner1{
    background-image: url(/assets/images/services/branding.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner2{
    background-image: url(/assets/images/services/logo-design.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner3{
    background-image: url(/assets/images/services/social-media.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner4{
    background-image: url(/assets/images/services/web-development.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner5{
    background-image: url(/assets/images/services/animated-video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner6{
    background-image: url(/assets/images/services/animated-video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner7{
    background-image: url(/assets/images/services/marketing.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}
.inner-banner8{
    background-image: url(/assets/images/services/animated-video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: -111px;
}

.inner-first-secbanner{
    background-color: #F6F9F8;
}

.inner-second-secbanner{
    padding-top: 50px;
    margin: 0;
}
.inner-third-secbanner{
    background-image: url(/assets/images/pricing-back.png);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: top;
}
.inner-fourth-secbanner {
    background-image: url(/assets/images/work-background.png);
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-fifth-secbanner {
    background-image: url(/assets/images/call-background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 150px 0px;
    display: flex;
    justify-content: center;
}
.fifth-buttons{
    display: flex;
    justify-content: center;
}
.portfolio-items-box{
    padding: 0px !important;
    margin: 0px;
}

.inner-bann-heading{
    width: 1110px;
    margin: 0 auto;
}
.inner-bann-heading h1{
    color: #fff;
}

.innerban-content h2{
    font-size: 44px;
    font-weight: bold;
    color: #000;
}

.innerban-content p{
    line-height: 1.4;
    font-size: 18px;
    color: #000;
    padding: 20px 0px;
}
.innerpage-rightimg{
    display: flex;
    justify-content: flex-end;
} 
.innerpage-leftimg{
    display: flex;
    justify-content: start;
} 
.innerpage-rightimg img{
    max-width: 500px;
}
.innerpage-leftimg img{
    max-width: 500px;
}

/* -----------------------About us section Css------------------- */


/* -----------------------Contact section Css------------------- */
.contact-page{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f7f5f5;
}

.comment-form__input-box input[type="text"], .comment-form__input-box input[type="email"] {
    height: 60px;
    width: 100%;
    border: none;
    background: #f3f3f3a8;
    padding: 0 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: var(--thm-gray);
    font-weight: 400;
    text-transform: capitalize;
}
.comment-form__input-box textarea {
    font-size: 16px;
    color: var(--thm-gray);
    height: 200px;
    width: 100%;
    background: #f3f3f3a8;
    padding: 22px 30px 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.contact-content h1{
    font-size: 44px;
    font-weight: bold;
    color: #000;
}
.contact-content p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.color-contact {
    border: 1px solid #f7f7f7;
    border-radius: 26px;
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

/* -----------------------Contact section Css------------------- */

/* -----------------------Footer Css------------------- */
.main-footer{
    background-image: url(/assets/images/footer-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.footer-body{
    padding-top: 50px;
    max-width: 1110px;
    margin: 0 auto;
}
.footer-body img{
    padding-bottom: 20px;
}
.footer-body p{
    color: #fff;
}

.footer-inner-box{
    padding-left: 40px;
}
.footer-inner-box h3{
    color: #FD5605;
}

.footer-inner-box ul li a{
    color: #fff;
    text-decoration: none;
}
.footer-inner-box ul li a:hover{
    color:#FD5605;
}

.list-style{
    list-style: none;
    padding-left: 0px;
    line-height: 1.7;
}

.footer-end{
    background-color: #000;
    text-align: center;
    padding: 15px 0px;
}
.footer-end p{
    margin: 0px;
    color: #fff;
}



/* -----------------------Footer Css------------------- */





/* Dropdown CSS*/

@keyframes btotreverse {
    0% {
        top: 75px;
        opacity: 1;
    }
    100% {
        top: 115px;
        opacity: 0;
    }
}

@keyframes btot {
    0% {
        top: 115px;
        opacity: 0;
    }
    100% {
        top: 40px;
        opacity: 1;
    }
}